<configuration>
  <sitecore>
    <services>
      <register serviceType="Foundation.SitecoreFileExchange.Services.IRemoteFileExchangeService, Foundation.SitecoreFileExchange" implementationType="Foundation.SitecoreFileExchange.Services.RemoteFileExchangeService, Foundation.SitecoreFileExchange" />      
    </services>
  </sitecore>
</configuration>
