<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Foundation.SitecoreFileExchange.SharedDatabaseName" value="core" />      
      <setting name="Foundation.SitecoreFileExchange.TempFolder" value="~/temp" />      
      <setting name="Foundation.SitecoreFileExchange.RemoveFileWhenUploadFinished" value="true" />            
      <setting name="Foundation.SitecoreFileExchange.RemoveBlobWhenUploaded" value="true" />            
    </settings>
    <settings role:require="Standalone">
      <setting name="Foundation.SitecoreFileExchange.AddRemoteEventToLocalQueue" value="true" />
    </settings>
    <settings role:require="ContentDelivery">
      <setting name="Foundation.SitecoreFileExchange.AddRemoteEventToLocalQueue" value="false" />
    </settings>
  </sitecore>
</configuration>